/* !-- headerの記述 -- */
header {
    display: flex;
    justify-content: space-between;
    /* 左右両端揃え */
    align-items: center;
    /* 縦方向に中央揃えにした */
    font-size: 21px;
}


/* !-- sectionの記述 -- */
.header-right a:hover {
    background-color: blue
        /* hoverさせた色を恐らくコーポレートカラー青にした */
}

.Introduction {
    text-align: center;
}

.phot {
    width:800px;
    height:auto;
}

h2 {
    margin-top: 100px;
}


/* -- footerの記述 -- */
footer {
    background: #707070;
    padding: 30px 0;
    margin-top: 140px;
}
footer p {
    color: #ffffff;
    font-size: 14px;
}